# compiled output
/dist
/node_modules
/build
*.tsbuildinfo
prisma/seed.js
prisma/seed.js.map
prisma/seed.d.ts

# logs
logs
*.log
npm-debug.log*

# env
.env
.env.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# test
/coverage
/.nyc_output

# prisma
prisma/migrations/**/migration_lock.toml
src/generated/
